body,
html {
    font-size: 62.5%;
    height: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(22, 23, 29, 1);
    overflow-x: hidden;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.nar-bar {
    /* position: fixed; */
    /* top: 0;
    width: 100%;
    height: 18%;
    background: rgba(22, 23, 29, 1); */
    top: 0;
    height: 12%;
    /* width: 100%; */
    background: rgba(22, 23, 29, 1);
    padding-inline: 30px;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 5rem;
    margin-top: 1.7rem;
    list-style-type: none;
    text-decoration: none;
}

.title-icon {
    font-weight: 600;
    font-size: 3rem;
    line-height: 5.2rem;
    color: white;
    cursor: pointer;
}

.icon-orange {
    margin-left: -0.7rem;
    margin-top: 1rem;
    color: rgba(245, 194, 73, 1);
}

.icon-container li a {
    text-decoration: none;
    color: rgba(167, 174, 191, 1);
    font-weight: 400;
    font-size: 1rem;
    margin-inline: 0.7rem;
    margin-top: 0.2rem;
}

.list-nav {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.li-btn {
    margin-right: 3rem;
    margin-top: 1.4rem;
}

.Connect-wallet {
    color: black;
    background-color: rgba(245, 194, 73, 1);
    padding-inline: 1.25rem;
    padding-block: 0.75rem;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 1.2rem;
    border: none;
    cursor: pointer;
}

.left-entry-container h1 {
    width: 41rem;
}

.container-inner-1 {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin-inline: 8rem;
}


/* navbar styling ended here */

/* first section styling now */

.entry-container {

    /* width: 99.5%; */
    /* border-bottom: 2px solid white; */
}

.common-entry-class {
    margin-inline: 4rem;
}

#first-img {
    /* width: 79%; */
    width: 50rem;
}

.entry-heading {
    color: white;
    font-weight: 700;
    font-size: 2.75rem;
}

.entry-para {
    color: rgba(120, 122, 141, 1);
    font-weight: 400;
    font-size: 1rem;
}

.Connect-wallet-2-btn {
    margin-top: 4rem;
    color: black;
    background-color: rgba(245, 194, 73, 1);
    padding-inline: 1.25rem;
    padding-block: 0.75rem;
    font-weight: 500;
    font-size: 1.4rem;
    border-radius: 1.2rem;
    border: none;
    cursor: pointer;
}

/* ###################### styling cards now ########################## */
.cards {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-left: 2rem;
    /* width: 76rem; */
    height: 19rem;
    margin-block: 9rem;
    margin-inline: 4rem;

}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.card-1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 24rem;
    background-color: transparent;
    border: 0.2rem solid rgba(120, 122, 141, 1);
    border-radius: 1rem;
}

.cards-images-all {
    /* width: 100%; */
    width: 2.512rem;
    margin-top: 0rem;
}

.cards-heading {
    font-weight: 600;
    font-size: 1.05rem;
    color: white;
}

.img-container-all-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

/* .entry-para
{
   
} */
.cards-para {
    color: rgba(120, 122, 141, 1);
    font-size: 1rem;
    padding-inline: 2rem;
    padding-block: 2rem;
}

/* ######################## input section styling###################### */
.input-section {
    /* width: 71.75rem;
    height: 31.37rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    /* flex-wrap: wrap; */
    margin-inline: 7rem;
    margin-top: 15rem;
    /* border: 2px solid wheat; */
}

.container-middle {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-middle img {
    max-width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 26.9rem;
    width: 26.6rem;
    border-radius: 1.2rem;
    background-color:
        rgba(33, 36, 45, 1);
    margin-right: 2rem;
}

.input-all {
    background-color: rgba(22, 23, 29, 1);
    font-size: 1rem;
    width: 22rem;
    height: 3.5rem;
    margin-inline: 1.5rem;
    margin-block: 0.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    border: none;
    box-shadow: none;
    border-radius: 1.2rem;
    text-align: center;
}

.send-btn {
    border: 0;
    margin-right: 3rem;
    margin-left: 1.5rem;
    margin-block: 0.7rem;
    background-color:
        rgba(245, 194, 73, 1);
    padding: 0.8rem 0.8rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 1.2rem;
    cursor: pointer;
}

/* ########################### 3rd portion styling cards again ############################ */
.cards-container-three {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: space-around;
}

.card-3rd-portion {
    /* border: 2px solid wheat; */
    width: 80%;
    margin-block: 18rem;
    margin-inline: 14rem;
}

.heading-cards {
    line-height: 4rem;
    color: white;
    font-weight: 700;
    font-size: 2.75rem;
    margin-bottom: 2rem;
    margin-left: 2.4rem;
}

.card {
    /* border: 2px solid white; */
    width: 29.1rem;
    /* height: 350px; */
    background: rgba(33, 36, 45, 1);
    border-radius: 1rem;
}

.card img {
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    padding: 0.8rem;

}

.card-details {
    line-height: 1.5rem;
    font-size: 1rem;
    padding-bottom: 1rem;
    /* padding-top: 0.5rem; */
}

.new-cards-sp-color {
    color: rgba(120, 122, 141, 1);
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.inner-span-all {
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
}

#input-display-time {
    background: rgba(245, 194, 73, 1);
    font-weight: 600;
    font-size: 1rem;
    width: 8.3rem;
    margin-inline: 10rem;
     position: relative;
    bottom: 2.5rem;
    border-radius: 4px;
}

/* ####################### Styling footer ################################## */

.foot-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    background: rgba(22, 23, 29, 1);
    border-top: 0.5px solid rgba(95, 97, 110, 0.2);
}

.footer-icon {
    font-weight: 600;
    font-size: 2rem;
    line-height: 5.2rem;
    color: white;
    cursor: pointer;
}

.footer-orange {
    margin-left: -0.7rem;
    margin-top: 1rem;
    color: rgba(245, 194, 73, 1);
}

.middle-icon-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#twitter-ic {
    width: 3rem;
    margin-left: 1rem;
}

#linkdin-ic {
    width: 2.3rem;
    height: 2.3rem;
    margin-left: 1rem;
}

#fb-ic {
    width: 2.3rem;
    height: 2.3rem;
    margin-left: 1rem;
}

#Copyright-sp {
    font-size: 0.9rem;
    color: rgba(120, 122, 141, 1);
}

#sidebar-option {
    display: none;
}


/* #################### for 1024px max ################### */
@media (max-width: 1024px) {

    .container-inner-1 {
        margin-inline: 3rem;
    }

    .cards {
        padding-left: 0;
    }

    .cards-container {
        gap: 2rem;
    }
}

/* ####################### tablet 768px max ################### */
@media (max-width: 768px) {
    .nar-bar {
        padding: 0;
    }

    #first-img {
        width: 100%;
    }

    .entry-container {
        margin-block: 5rem;
    }

    .left-entry-container,
    .right-entry-container {
        margin-inline: 0;
    }

    .left-entry-container h1 {
        width: 30rem;
    }

    .cards {
        flex-direction: column;
    }

    .anchors {
        display: none;
    }

    .card-3rd-portion {
        margin-inline: 9rem
    }

    .footer-orange {
        margin-left: 0;
    }
}

/* ##################################### FOR MOBILES SM to 430px ############### */
@media (max-width: 430px) {
    .Connect-wallet {
        display: none;
    }

    .title-icon {
        font-size: 2.5rem;
    }

    .icon-orange {
        margin-left: 0;
    }

    .icon-container {
        margin-left: 3rem;
    }

    #sidebar-option {
        display: block;
        color: white;
        font-size: 3rem;
        margin-inline: 2rem;
        margin-top: 2.2rem
    }

    .left-container {
        display: flex;
        justify-content: center;
    }

    .left-entry-container {
        margin-block: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
    }

    .entry-heading {
        margin: 3rem;
    }

    .container-inner-1 {
        flex-direction: column;
    }

    .cards-container {
        flex-direction: column;
    }

    .cards {
        margin-inline: 6.5rem;
        margin-left: 2rem;
        height: auto;
    }

    .card-1-container {
        width: 116%;
    }

    .input-section {
        flex-direction: column;
        margin-top: 0;
    }

    .container-middle {
        max-width: 100%;
    }

    .form-container {
        margin-left: 1rem;
        height: auto;
        width: auto;
        margin-left: 1rem;
    }

    .card-3rd-portion {
        margin-inline: 4rem;
    }

    .foot-container {
        height: 12rem;
        flex-direction: column;
    }

}

/* ################## for extra small mobiles max-width 300px ####################### */
@media (max-width: 350px) {
    html {
        font-size: 40%;
    }

    .cards {
        margin-left: 7rem;
    }

    .card-1-container {
        width: 100%;
    }
}